<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown 
          mode="Singleton"
          type="ServicioMultas.ServicioMultas, ServicioMultas"
          objectUri="Hola" 
        />
      </service>
      <channels>
        <channel ref="tcp" port="1234"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
