<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.runtime.remoting>
    <application>
      <lifetime
        leaseTime="60S"
        renewOnCallTime="30S"
        sponsorshipTimeout="2M"
        leaseManagerPollTime="30S"
      />
      <service>
        <wellknown
          mode="Singleton"
          type="ServicioMultas.Servicio, ServicioMultas"
          objectUri="Servicio"
        />
      </service>
      <channels>
        <channel ref="tcp" port="12345"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
