<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
          type="ServicioMultas.Servicio, ServicioMultas"
          url="tcp://localhost:12345/Servicio"
        />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
